
/* Your CSS Code here. */
     body {
            
            background-color: #f8f8f8;
            
            display: flex;
            justify-content: center;
            
         
        }

        form {
            
          
            
            padding: 20px;
           
        
           
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        


        input {
            cursor: pointer;
            font-size: 16px;
        }

        #submit:hover {
            background-color: #45a049;
        }