
/* Your CSS Code here. */
     body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            
            border-radius: 8px;
            
            padding: 20px;
            max-width: 400px;
            width: 100%;
           
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        


        input[type="submit"] {
           
          
        
            cursor: pointer;
            font-size: 16px;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }